@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

html.small {
  font-size: 94%;
}

html.medium {
  font-size: 100%;
}

html.large {
  font-size: 107%;
}

body {
  @apply font-comfortaa text-base;
}

h1,
.h1 {
  @apply font-laila text-4xl;
}

h2,
.h2 {
  @apply font-laila text-3xl;
}

h3,
.h3 {
  @apply font-laila text-2xl;
}

h4,
.h4 {
  @apply text-lg;
}

h5,
.h5 {
  @apply text-base;
}

h6,
.h4 {
  @apply text-sm;
}
